<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
    <ThreadPool minThreads="50" />
    <AppContextSwitchOverrides value="Switch.System.Windows.Forms.DoNotScaleForDpiChanges=false" />
  </runtime>
  <startup>
    <supportedRuntime version="v9.0" sku=".NETCoreApp,Version=v9.0" />
  </startup>
</configuration>
